name: Deploy React Portfolio (Production Only)

on:
  push:
    branches:
      - "main"

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout
      - name: Checkout Code
        uses: actions/checkout@v4

      # 2. Setup Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22

      # 3. Install dependencies
      - name: Install dependencies
        run: npm ci

      # 4. Build React App for Production
      - name: Build React App for Production
        run: npm run build

      # TESTING. Create debug dist zip file (Comment Step 5 to avoid pushing to live)
      # - name: Upload Build Artifact for Inspection
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: debug-dist-folder
      #     path: ./dist

      # 5. Deploy Production Environment
      - name: Deploy Production Environment (Root)
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.DEPLOY_TOKEN }}
          external_repository: mannuccimattia/mannuccimattia.github.io
          publish_branch: main
          publish_dir: ./dist

          force_orphan: true

          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
